<div class="container bs-header" ng-controller="MapController as mapCtrl">
    <div class="row">
        <div class="col-md-9">
            <div>
                <ui-gmap-google-map center="map.center" zoom="map.zoom" bounds="map.bounds" options="map.options">
                    <!-- <ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'" click="'onMarkClick'">
                        <ui-gmap-windows show="show">
                            <div ng-non-bindable>{{title}}</div>
                        </ui-gmap-windows>
                    </ui-gmap-markers> -->
                    <!-- event marks -->
                    <ui-gmap-marker ng-repeat="m in eventMarks track by m.id" coords="m.coords" options="m.options" events="m.events" idkey="m.id" events="m.events">
                        <ui-gmap-window show="m.windowOptions.visible">
                            <div>{{m.infor.address}}</div>
                        </ui-gmap-window>
                    </ui-gmap-marker>
                    <!-- Typhoon ploylines -->
                    <ui-gmap-polyline ng-repeat="p in typhoonPolylines" path="p.path" stroke="p.stroke" visible='p.visible' geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons' events="p.events"></ui-gmap-polyline>
                    <!-- typhoon circles -->
                    <ui-gmap-circle ng-repeat="c in typhoonCircles track by c.id" center="c.center" stroke="c.stroke" fill="c.fill" radius="c.radius" visible="c.visible" geodesic="c.geodesic" editable="c.editable" draggable="c.draggable" clickable="c.clickable" control="c.control"></ui-gmap-circle>
                </ui-gmap-google-map>
            </div>
            <h3>Filter:</h3>
            <div>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="option1"> All
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 土石流
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="option3"> 淹水
                </label>
            </div>
            <div class="bg-danger" style="line-height:30px;">
                我是跑馬燈我是跑馬燈我是跑馬燈我是跑馬燈我是跑馬燈我是跑馬燈我是跑馬燈我是跑馬燈
            </div>
        </div>
        <div class="col-md-3" ui-view></div>
    </div>
</div>