<div ng-controller="ChatController as vm" class="chat-room">
    <div>
        <div>
            <h5>Chat Room</h5>
            <ul class="list-unstyled section">
                <li ng-repeat="msg in vm.messageAry">
                    <div class="message">
                        <img class="picture" src="{{msg.picture}}" /> {{msg.name}} :
                        <span>{{msg.text}}</span>
                    </div>
                </li>
            </ul>
        </div>
        <form>
            <input type="text" ng-model="msg">
            <input type="submit" ng-click="vm.addMessage(msg)">
        </form>
    </div>
</div>