<div ng-controller="ChatController as vm">
    <div>
        <div>
            <h5>Chat Room</h5>
            <ul class="list-unstyled" style="height:500px; overflow: scroll;">
                <li ng-repeat="msg in vm.messageAry">
                    <div style="line-height:40px;">
                        <img class="picture-chat" src="{{msg.picture}}" /> {{msg.name}} :
                        <span>{{msg.text}}</span>
                    </div>
                </li>
            </ul>
        </div>
        <form>
            <input type="text" ng-model="msg">
            <input type="submit" ng-click="vm.addMessage(msg)">
        </form>
    </div>
</div>